body {
    font-family: Arial, sans-serif;
    background-color: #def7f7;

    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;               
    text-align: center;
}


h1 {
    margin-bottom: 1rem;
}

.container {
    background: rgb(252, 251, 246);
    padding: 1.5rem;
    min-width: 25%;               /* tamaño depende del contenido */
    max-width: 50%;            /* opcional: que no sea enorme en pantallas grandes */
    border-radius: 2rem;
    box-shadow: 0 0 1.2rem rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 1.2rem 1.3rem;
    font-size: 1rem;
    cursor: pointer;

    border-radius: 2rem;

    background-color: rgb(142, 198, 248);
    border: none;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.2);

    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.05);
}

#frase {
    font-size: 1.3rem;
    font-style: italic;
    margin: 1rem 0 0 0;             /* quitar márgenes por defecto */
}

#autor {
    margin: 0.5rem 0 2rem 0;
    font-weight: bold;
}